
/*premiere partie */
p{
   color: white;
}
body{
background-color: black;
}

h1{
   color: white;
   text-align: center;
   padding-top: 4%;
}

.header {
   background-image:url("Illustrations/Bathome1.png");
   height: 200%;
   width: auto;
}
.menu {
   display: flex;              /* Transformation en flexbox */
   padding:0;                  /* Suppression des marges internes */
}

.menu li {
   list-style-type: none ;       /* Suppression des puces */
}

.menu a {
   display:block;                /* Transformation en block */
   min-width: 120px;             /* Largeur minimale des liens */
   color: white;
   font-size: 130%;
   
}
.navbar{
   margin-left: 80%;
    margin-top: -4%;
}

.logohome{
   margin-top: 5%;
   margin-left: 11%;
}

hr{
   margin-top: 5%;
   opacity: 0.2;
}



   

.text1{
   color: white;
   font-size: 130%;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
   color: white;
}

.milieu{
   display: flex;
}
.gauche{
   text-align: center;
   margin-top: 17%;
   width: 35%;
   margin-left: 35%;
}


.droite{
   margin-top: 17%;
   margin-left: 20%;
}
.rs{
   margin-left: 40%;
}
.btn_1 {
   width: 200px;
   height: 47px;
   background-color: rgba(240, 248, 255, 0.212);
   border-color: rgba(252, 175, 175, 0.027);
   color: white;
}

.btn_1:hover{
   background-color: rgba(240, 248, 255, 0.479);
   transition: .2s;
   cursor: pointer;
}

.right{
   margin-left: 89%;
   margin-top: -17%;
   
}

/*
.imgRight{
margin-top: 100%;
}
*/

.fleche{
   width: 76px;
   height: auto;
}

.logo{
   width: 20px;
   height: auto;
   margin-left: 19%;
}

.flecheDown{
   width: 60px;
   height: auto;
   margin-top: 15%;
   margin-left: 50%;
}

.flecheBas{
   margin-left: 50%;
   padding-top: 17%;
}

/*deuxieme partie */
 .contain1{
   background-color: black;
   margin-top: 10%;
   width: 80%;
   height: auto;
   margin-left: 15%;
 }

 .text2{
   color: white;
   font-size: 130%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   width: 75%;
   height:auto;
}

/*
.second1{
   margin-top: 5%;
}

.bat{
   width: 260px;
   height: auto;
}

.text3{
   color: white;
}

.sstittre1{
   display: inline;
}
*/

h4{
   color: white;
}

.sary{
   width: 260px;
   height: auto;
}

.container{
   display: flex;
   align-items: center;
   margin-top: 5%;   
}

.card{
   text-align: center;
}

.imgBx:hover img{
   transform: scale(1.1);
}

.nemesis{
   width: 130px;
   margin-left: 7%;
   margin-bottom: -5%;
}


/*troisième partie */

.contain2{
   background-color: black;
   margin-top: 12%;
   width: 80%;
   height: auto;
   margin-left: 15%;
 }

 .bat{
   width: 100px;
   height: 100px;
   margin-top: -15%;
   margin-bottom: 3%;
   margin-left: 7%;

 }

.imgRight{
   width: 390px;
   height: auto;
   margin-left: 70%;
   margin-top: -12%;
 
}

/*quatrieme partie */

.contain3{
   background-color: black;
   margin-top: 10%;
   width: 80%;
   height: auto;
   margin-left: 15%;
 }

 .contain4{
   background-color: black;
   width: 80%;
   height: auto;
   margin-left: 15%;
   margin-top: 5%;
   margin-bottom: 6%;
 }

/*cinquieme partie */

 .justiceLeague{
      width: 1340px;
      height: auto;
 }

 /*sixieme partie */
 .contenu{
   display: flex;
   align-items: center;    
   margin-top: 7%;
   width: 70%;
    
 }

 .text3{
   color: white;
   
 }

 .miContenu2{
   display: flex;
   align-items: center;
   margin-left: 8%;
   
 }

 .mimicontenuX{
   background-color: rgb(49, 61, 57);
   width: 100%;
   height: 0%;
   padding-left: 2%;
   padding-right: 1%;
   
 }

 h3{
   color: white;
 }

 .picmultimedia{
   height: 300px;
 }

 .picvideo{
   width:900px;
   height: auto;
   margin-left: 17%;
 }

 
 
 /*formulaire */

 .formulaire{
   background-color: #c4c4c456;
   padding-bottom: 5%;
   
 }
 .contact{
   margin-left: 30%;
 }

 .checkbox{
   color: white;
 }

 .bouton{
   display: flex;
   margin-left: 3%;
 }
 button{
   background: transparent;
   border-color: white;
   width: 110px;
   color: white;
   height: 30px;
 }
 button:hover{
   background-color: rgb(197, 200, 248) ;
 }
 input{
   background: transparent;
   border: none;
   border-bottom: 1px solid white ;
   outline: none;
   padding-bottom: 5px;
   width: 40em;
 }

 .confirmer{
   height: 60px;
   width: 200px;
   margin-left: 20%;
   background: linear-gradient(to right,#EDDEBF,#890008);
   border: none;
   font-size: 17px;
 }

 .confirmer:hover{
   background: linear-gradient(to right,#fae7c0,#c00713);
 }
 /*footer*/

 .foot1{
   color: white;
   margin-left: 10px;
   text-align: center;
 }

 .guillemet1{
   margin-top:5% ;
   margin-left: 18%;
 }
 .guillemet2{
   margin-left: 70%;
 }

 .iconFoot{
   display: flex;
 }

 .pic{
   width: 30px;
 }
 footer{
   padding-bottom: 12%;
 }
 .type{
   display: flex;
   margin-left: 25%;
   margin-top: 17%;
   font-size: 14px;
 }
 .wb{
   height: 28px;
   margin-top: 0.7%;
 }
 .iconFoot{
   margin-left: 40%;
 }